(footprint "{{name}}"
	(version 20241229)
	(generator "pcbnew")
	(generator_version "9.0")
	(layer "F.Cu")
	(property "Reference" "REF**"
		(at 0 -0.5 0)
		(unlocked yes)
		(layer "F.SilkS")
		(hide yes)
		(uuid "1022f969-377d-494e-97a0-13645d1b072b")
		(effects
			(font
				(size 1 1)
				(thickness 0.1)
			)
		)
	)
	(property "Value" "{{name}}"
		(at {{width/2}} 1.25 0)
		(unlocked yes)
		(layer "F.Fab")
		(hide yes)
		(uuid "6aa92b30-f655-4822-b01e-30bfed33ef42")
		(effects
			(font
				(size 1 1)
				(thickness 0.15)
			)
		)
	)
	(property "Datasheet" ""
		(at 0 0 0)
		(unlocked yes)
		(layer "F.Fab")
		(hide yes)
		(uuid "02d031a5-a028-4947-b543-77ff764b34e0")
		(effects
			(font
				(size 1 1)
				(thickness 0.15)
			)
		)
	)
	(property "Description" ""
		(at 0 0 0)
		(unlocked yes)
		(layer "F.Fab")
		(hide yes)
		(uuid "f2faad8a-c517-4339-9f01-df5795ff9ecc")
		(effects
			(font
				(size 1 1)
				(thickness 0.15)
			)
		)
	)
	(attr smd)
	(fp_line
		(start 0 0)
		(end {{width}} 0)
		(stroke
			(width 0.2)
			(type solid)
		)
		(layer "F.SilkS")
		(uuid "63e4f86c-22df-4033-97d5-044368ee373a")
	)
	(fp_line
		(start 0 4)
		(end {{width}} 4)
		(stroke
			(width 0.2)
			(type solid)
		)
		(layer "F.SilkS")
		(uuid "7b16194e-f111-4eb7-b43d-d817f05cd940")
	)
	(fp_rect
		(start 0 0)
		(end {{width}} 4)
		(stroke
			(width 0.05)
			(type solid)
		)
		(fill no)
		(layer "F.CrtYd")
		(uuid "3be1defb-ba8b-42fd-a5db-cfde7b0f5425")
	)
	{% for via in via_sites %}
	(fp_circle
		(center {{via.x}} {{via.y}})
		(end {{via.x + 0.2}} {{via.y}})
		(stroke
			(width 0)
			(type default)
		)
		(fill yes)
		(layer "F.Fab")
		(uuid "{{via.uuid}}")
	)
	{% endfor %}
	(fp_text user "${REFERENCE}"
		(at {{width / 2}} 3.8 0)
		(unlocked yes)
		(layer "F.Fab")
		(uuid "115ba2a5-8fff-4f93-bfd4-335164624244")
		(effects
			(font
				(size 1 1)
				(thickness 0.15)
			)
			(justify bottom)
		)
	)
	(fp_text user "{{name}}"
		(at {{width / 2}} 0.2 0)
		(unlocked yes)
		(layer "F.Fab")
		(uuid "987d0147-082b-4170-901b-a73560471252")
		(effects
			(font
				(size 1 1)
				(thickness 0.15)
			)
			(justify top)
		)
	)
	{% for pad in pads %}
	(pad "{{pad.name}}" thru_hole circle
		(at {{pad.x}} {{pad.y}})
		(size 0.4 0.4)
		(drill 0.3)
		(layers "*.Cu" "*.Mask")
		(remove_unused_layers no)
		(clearance 0.1)
		(uuid "{{pad.uuid}}")
	)
	{% endfor %}
	(embedded_fonts no)
)
